.app {
  min-height: 100vh;
  padding: 2rem;
}

.app--light {
  background: #f5f5f5;
  color: #1f2937;
}

.app--dark {
  background: #111827;
  color: #f9fafb;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background: inherit;
  border-top: 1px solid #616264;
  margin-bottom: 2px;
}

.card {
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.app--light .card {
  background: white;
}

.app--dark .card {
  background: #1f2937;
}

.app--light .new-todo-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: #838383 1px solid;
  padding: 1rem;
  box-shadow: #111827 1px 2px 2px -1px;
  border-radius: 8px;
}

.app--light .new-todo-form input, .app--light .new-todo-form textarea {
  padding: 0.5rem;
  border-radius: 8px;
  border: #838383 1px solid;
  font-size: 16px;
}

.app--light .new-todo-form select {
  padding: 0.5rem;
  border-radius: 8px;
  border: #838383 1px solid;
  font-size: 16px;
}

.app--light .new-todo-form Button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background: #3b82f6;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.app--light .new-todo-form Button:disabled {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background: #9bbef5;
  color: white;
  cursor: not-allowed;
}

.todo-list li{
  list-style: none;
  padding: 0;
}

.card_btns {
  display: flex;
  gap: 0.5rem;
}

.todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 12px;
}

.todo:hover {
  box-shadow: #616264 1px 2px 2px -1px;
}

.delete-btn {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background: #ef4444;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.complete-btn {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background: #10b981;
  color: white;
  font-size: 16px;
  cursor: pointer;
}