@import "tailwindcss";

.app {
  min-height: 100vh;
  padding: 1.5rem;
}

.app--light {
  background: #f5f5f5;
  color: #1f2937;
}

.app--dark {
  background: #111827;
  color: #f9fafb;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background: inherit;
  border-top: 1px solid #616264;
  margin-bottom: 2px;
}


.todo-header {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.todo-header h1 {
  align-self: center;
  color: #1e51a9;
  font-weight: 700;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.card {
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.app--light .card {
  background: white;
}

.app--dark .card {
  background: #1f2937;
}

.app--light .new-todo-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: #838383 1px solid;
  padding: 1rem;
  box-shadow: #111827 1px 2px 2px -1px;
  border-radius: 8px;
}

.app--dark .new-todo-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: #838383 1px solid;
  padding: 1rem;
  box-shadow: #111827 1px 2px 2px -1px;
  border-radius: 8px;
}

.app--light .new-todo-form input,
.app--light .new-todo-form textarea {
  padding: 0.5rem;
  border-radius: 8px;
  border: #838383 1px solid;
  font-size: 16px;
}

.app--dark .new-todo-form input,
.app--dark .new-todo-form textarea {
  padding: 0.5rem;
  border-radius: 8px;
  border: #838383 1px solid;
  font-size: 16px;
}

.app--light .new-todo-form select {
  padding: 0.5rem;
  border-radius: 8px;
  border: #838383 1px solid;
  font-size: 16px;
}

.app--dark .new-todo-form select {
  padding: 0.5rem;
  border-radius: 8px;
  border: #838383 1px solid;
  font-size: 16px;
}

.app--light .new-todo-form Button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background: #3b82f6;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.app--dark .new-todo-form Button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background: #3b82f6;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.app--light .new-todo-form Button:disabled {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background: #9bbef5;
  color: white;
  cursor: not-allowed;
}

.app--dark .new-todo-form Button:disabled {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background: #9bbef5;
  color: white;
  cursor: not-allowed;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-list li {
  list-style: none;
  padding: 0;
}

.card_btns {
  display: flex;
  gap: 0.5rem;
}

.todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 12px;
}

.todo:hover {
  box-shadow: #616264 1px 2px 2px -1px;
}

.delete-btn {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background: #ef4444;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.complete-btn {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background: #10b981;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  border-top: #83838347 1px solid;
  border-bottom: #83838347 1px solid;
  padding: 1rem;
}

.settings Button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background: #3b82f6;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* TodoList Categories */
.category-group-label {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #8383832e;
}

/* TodoList Filters */
.filter-group {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 200;
}

.filter-label {
  font-size: .875rem;
  font-weight: 300;
}