@import "tailwindcss";

:root {
  --font-size: 16px;
  --color-light-bg: #f5f5f5;
  --color-light-text: #1f2937;
  --color-dark-bg: #111827;
  --color-dark-text: #f9fafb;
  --color-primary: #3b82f6;
  --color-secondary: #10b981;
  --color-danger: #ef4444;
  --color--border-dark: #61626459;
  --color--border-light: #83838339;
}

.app {
  min-height: 100vh;
  padding: 1.5rem;
}

.app--light {
  background: var(--color-light-bg);
  color: var(--color-light-text);
}

.app--dark {
  background: var(--color-dark-bg);
  color: var(--color-dark-text);
}

.app--light .bottom-nav {
  position: fixed;
  bottom: 0;
  left: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.45rem;
  padding: 0.4rem;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid var(--color--border-light);
  border-radius: 15px;
  margin-bottom: 25px;
}

.app--dark .bottom-nav {
  position: fixed;
  bottom: 0;
  left: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.45rem;
  padding: 0.4rem;
  background: var(--color-dark-bg);
  border: 1px solid var(--color--border-dark);
  border-radius: 15px;
  margin-bottom: 25px;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-header {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.todo-header h1 {
  align-self: center;
  color: #1e51a9;
  font-weight: 700;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.app--light .btn-add-task {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background: var(--color-primary);
  color: white;
}

.app--dark .btn-add-task {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background: var(--color-primary);
  color: white;
  font-size: var(--font-size);
  cursor: pointer;
  box-shadow: var(--color-primary) 1px 2px 5px -1px;
}

.card {
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.app--light .card {
  background: rgb(255, 255, 255);
  border: var(--color--border-light) 1px solid;
}

.app--dark .card {
  background: #1f2937;
  border: var(--color--border-dark) 1px solid;
}

.app--light .new-todo-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: var(--color--border-light) 1px solid;
  padding: 1rem;
  box-shadow: var(--color--border-dark) 1px 2px 2px -1px;
  border-radius: 15px;
}

.app--dark .new-todo-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: var(--color--border-dark) 1px solid;
  padding: 1rem;
  box-shadow: var(--color--border-dark) 1px 2px 2px -1px;
  border-radius: 15px;
}

.app--light .new-todo-form input,
.app--light .new-todo-form textarea {
  padding: 0.5rem;
  border-radius: 8px;
  border: var(--color--border-light) 1px solid;
  font-size: var(--font-size);
}

.app--dark .new-todo-form input,
.app--dark .new-todo-form textarea {
  padding: 0.5rem;
  border-radius: 8px;
  border: var(--color--border-dark) 1px solid;
  font-size: var(--font-size);
}

.app--light .new-todo-form select {
  padding: 0.5rem;
  border-radius: 8px;
  border: var(--color--border-light) 1px solid;
  font-size: var(--font-size);
}

.app--dark .new-todo-form select {
  padding: 0.5rem;
  border-radius: 8px;
  border: var(--color--border-dark) 1px solid;
  font-size: var(--font-size);
}

.app--light .new-todo-form Button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background: var(--color-primary);
  color: white;
  font-size: var(--font-size);
  cursor: pointer;
}

.app--dark .new-todo-form Button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background: var(--color-primary);
  color: white;
  font-size: var(--font-size);
  cursor: pointer;
}

.app--light .new-todo-form Button:disabled {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background: var(--color-primary);
  color: white;
  cursor: not-allowed;
}

.app--dark .new-todo-form Button:disabled {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background: var(--color-primary);
  color: white;
  cursor: not-allowed;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-list li {
  list-style: none;
  padding: 0;
}

.card_btns {
  display: flex;
  gap: 0.5rem;
}

.app--light .todo-status {
  font-size: 0.7rem;
  font-weight: 400;
  color: #4f4f4fda;
  background: #4a4a4a1b;
  padding: 0.2rem 0.38rem;
  border-radius: 8px;
  width: fit-content;
}

.app--dark .todo-status {
  font-size: 0.7rem;
  font-weight: 400;
  color: #c1c1c6;
  background: #2b3a57;
  padding: 0.2rem 0.38rem;
  border-radius: 8px;
  width: fit-content;
}

.todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.7rem;
  border-radius: 12px;
  font-size: 0.875rem;
}

.todo:hover {
  box-shadow: var(--color--border-dark) 1px 2px 2px -1px;
}

.todo h2 {
  font-size: 1rem;
  font-weight: 500;
}

.delete-btn {
  padding: 0.25rem 0.4rem;
  border-radius: 8px;
  border: none;
  background: var(--color-danger);
  color: white;
  cursor: pointer;
}

.complete-btn {
  padding: 0.25rem 0.4rem;
  border-radius: 8px;
  border: none;
  background: var(--color-secondary);
  color: white;
  cursor: pointer;
}

.settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  border-top: #83838347 1px solid;
  border-bottom: #83838347 1px solid;
  padding: 1rem;
}

.settings Button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background: var(--color-primary);
  color: white;
  font-size: var(--font-size);
  cursor: pointer;
}

/* TodoList Categories */
.category-group-label {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #8383832e;
}

/* TodoList Filters */
.filter-group {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 200;
}

.filter-group select {
  padding: 0.15rem;
  margin-right: 0.25rem;
  border: #838383 1px solid;
  border-radius: 10px;
}

.filter-label {
  font-size: 0.875rem;
  font-weight: 500;
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.dashboard-boxes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 12px;
  border: var(--color--border-light) 1px solid;
  box-shadow: var(--color--border-dark) 1px 2px 2px -1px;
  margin-top: 1rem;
}

.dashboard-boxes h2 {
  font-size: 1.25rem;
  font-weight: 700;
}

.dashboard-stats-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.dashboard-stats-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
